<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./jontyy-2048.css">
    <title>jontyy-2048</title>
</head>

<body>
    <header>
        <h1>jontyy-2048</h1>
        <a id="newGameButton">New Game</a>
        <p>score:
            <span id="score">0</span>
        </p>
    </header>
    <div id="grid-continer">
        <div id="grid-cell-0-0" class="grid-cell"></div>
        <div id="grid-cell-0-1" class="grid-cell"></div>
        <div id="grid-cell-0-2" class="grid-cell"></div>
        <div id="grid-cell-0-3" class="grid-cell"></div>
        <div id="grid-cell-1-0" class="grid-cell"></div>
        <div id="grid-cell-1-1" class="grid-cell"></div>
        <div id="grid-cell-1-2" class="grid-cell"></div>
        <div id="grid-cell-1-3" class="grid-cell"></div>
        <div id="grid-cell-2-0" class="grid-cell"></div>
        <div id="grid-cell-2-1" class="grid-cell"></div>
        <div id="grid-cell-2-2" class="grid-cell"></div>
        <div id="grid-cell-2-3" class="grid-cell"></div>
        <div id="grid-cell-3-0" class="grid-cell"></div>
        <div id="grid-cell-3-1" class="grid-cell"></div>
        <div id="grid-cell-3-2" class="grid-cell"></div>
        <div id="grid-cell-3-3" class="grid-cell"></div>
    </div>
    <div id="final">
    </div>
    <script src="./jquery-3.3.1.min.js"></script>
    <script src="./template-web.js"></script>
    <script id="test" src="./jontyy-modle.js" type="text/html">
        {{if isAdmin}}
        <!-- {{if score}} -->
        <ul id="rank">
            {{each score value i}}
            <li class="score_list">
                <span class="score_num">
                    No.{{i+1}}
                </span>
                <span class="score_name">
                    {{value.name}}
                </span>
                <span class="score_data">
                    {{value.score}}
                </span>
            </li>
            {{/each}}

        </ul>
        <!-- {{/if}} -->
        {{/if}}
    </script>
    <script src="./jontyy-text.js"></script>
    <script src="./jontyy-main.js"></script>
    <script src="./jontyy-score.js"></script>
    <script src="./jontyy-support.js"></script>
    <script src="./jontyy-game.js"></script>
    <script src="./jontyy-anmiotion.js"></script>
</body>

</html>